
/* https://github.com/Jasig/sass-maven-plugin/issues/47 */

/* core */
ul {
  padding: 0px;
}
.abs {
  position: absolute;
}
.full {
  width: 99%;
}

/* style guide */
.catalog {
  list-style-type: none;
  
  li {
    display: inline-block;
  }
}

/* core : icons */
[class^="icon"] {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 5px;
  margin: 5px;
}

span.icon {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* begin dogs font / scss */
@font-face {
  font-family: 'dogs';
  src:  url('/common/fonts/dogs.eot');
  src:  url('/common/fonts/dogs.eot#iefix') format('embedded-opentype'),
    url('/common/fonts/dogs.ttf') format('truetype'),
    url('/common/fonts/dogs.woff') format('woff'),
    url('/common/fonts/dogs.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bg {
  &.dogs {
    text-align: center;

    [class^="icon dog-"] {
      font-size: 40em;
      opacity: .05;
      line-height: 1;
    }
  }
}

.dogs {
  &.lg [class^="icon dog-"] {
    font-size: 16em;
    line-height: 1.1em;
  }
  [class^="icon dog-"] {
    font-size: 8em;
    line-height: 1.1em;
  }
}

.icon {

  &.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: inherit;
    -webkit-background-clip: inherit;
    background-clip: inherit;
    text-align: center;
    line-height: normal;
    font-size: 7.2em;
    line-height: 1em;

    &::before {
      display: block;
      margin: 5px;
    }

    &.thin {
      border-width: 1px;
      border-style: solid;
    }
    &.double {
      border-width: 4px;
      border-style: double;
      font-size: 6.9em;
    }
    &.thick {
      border-width: 3px;
      border-style: solid;
      font-size: 7em;
    }


  }

  /* border colors */
  &.border-primary {
    border-color: orange;
  }
  &.border-secondary {
    border-color: rgb(0, 73, 0);
  }
  &.border-white {
    border-color: white;
  }
  &.border-black {
    border-color: black;
  }
  &.border-grey {
    border-color: grey;
  }

  /* custom bg image */
  &.bgimg-alt1 {
    background: url(/common/images/HeaderBG1.gif);
  }
  &.bgimg-alt2 {
    background: url(/common/images/iconbg-alt2.png);
  }


  /* bg colors */
  &.bg-primary {
    background-color: orange;
  }
  &.bg-secondary {
    background-color: rgb(0, 73, 0);
  }
  &.bg-white {
    background-color: #fff;
  }
  &.bg-black {
    background-color: #000;
    color: white;
  }
  &.bg-grey {
    background-color: #333;
    color: white;
  }
  &.bg-blue {
    background-color: rgb(0, 25, 168);
  }


  /* icon colors */
  &.icon-primary::before {
    color: orange;
  }
  &.icon-secondary::before {
    color: rgb(0, 73, 0);
  }
  &.icon-black::before {
    color: rgba(0,0,0,1);
  }
  &.icon-white::before {
    color: rgba(255,255,255,1);
  }
  &.icon-red::before {
    color: rgb(173, 0, 0);
  }

  /* shadows */
  &.shadow {
    box-shadow: grey 0px 0px 15px;
  }
  &.shadow-offset {
    box-shadow: grey 5px 5px 15px;
  }
}

.DDD:after {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 6px;
  opacity: .6;
  color: maroon;
  padding: 5px;
}

[class*=" dog-"] {
  font-family: 'dogs';
}

.dog-e900 {
  &:before,
  &.DDD:after {
    content: "\e900";
  }
}
.dog-e901 {
  &:before,
  &.DDD:after {
    content: "\e901";
  }
}
.dog-e902 {
  &:before,
  &.DDD:after {
    content: "\e902";
  }
}
.dog-e903 {
  &:before,
  &.DDD:after {
    content: "\e903";
  }
}
.dog-e904 {
  &:before,
  &.DDD:after {
    content: "\e904";
  }
}
.dog-e905 {
  &:before,
  &.DDD:after {
    content: "\e905";
  }
}
.dog-e906 {
  &:before,
  &.DDD:after {
    content: "\e906";
  }
}
.dog-e907 {
  &:before,
  &.DDD:after {
    content: "\e907";
  }
}
.dog-e908 {
  &:before,
  &.DDD:after {
    content: "\e908";
  }
}
.dog-e909 {
  &:before,
  &.DDD:after {
    content: "\e909";
  }
}
